<div id="usuario">
	<h3>Perfil:</h3>

	<table>
		<tr>
			<td><strong>Nombre de usuario:</strong></td>
			<td><%= user.username %></td>
			<% if(user.isAdmin) { %>
				<td><em>(Admin)</em></td>
			<% } %>
		</tr>
		<tr>
			<td><strong>Cargo:</strong></td>
			<td><%= user.cargo %></td>
		</tr>
	</table>

	<div class="botones">
		<% if(session.user.isAdmin || (session.user.id === user.id)) { %>
			<a href="/users/<%= user.id %>/edit"><button id="editar">Editar</button></a>
		<% }
		if(session.user.isAdmin && (session.user.id !== user.id)) { %>
			<a href="/users/<%= user.id %>?_method=DELETE"><button id="borrar" onClick="return confirm('Borrar cuenta: <%= user.username %>');">Borrar</button></a>
		<% } %>
	</div>
</div>